.edit_the_photo_page_body {
    background: linear-gradient(to right, rgb(211, 204, 238), rgba(171, 155, 242));
    height: auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.edit_the_photo_page_head {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
}
.edit_the_photo_page_head_btnback_name {
    width: 50%;
    display: flex;
    align-items: center;
}
.edit_the_photo_page_head_btnback {
    background-color: rgb(97, 82, 192, 1);
    color: aliceblue;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.edit_the_photo_page_photo {
    margin-right: 3%;
    margin-bottom: 5%;
    margin-top: 5%;
    border: 5px ridge rgb(97, 82, 192, 1);
    border-radius: 25px;
    width: 50%;
}
.edit_the_photo_page_card_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.custom_button {
    padding: 10px 24px;
    background-color: #04AA6D;
    color: white;
    border-radius: 12px;
}